Source: linux-2.6-qtmoko
Section: devel
Priority: extra
Maintainer: Radek Polak <psonek2@seznam.cz>
Uploaders: Radek Polak <psonek2@seznam.cz>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 7), quilt (>= 0.40), uboot-mkimage
Vcs-Git: http://git.debian.org/git/pkg-fso/linux-2.6-openmoko.git
Vcs-Browser: http://git.debian.org/?p=pkg-fso/linux-2.6-openmoko.git;a=summary

Package: linux-image-2.6.34-qtmoko-gta04
Architecture: armel
Section: admin
Depends: module-init-tools
Description: Linux 2.6.32 kernel image for Goldelico GTA04 phone
 This package provides the binary image and pre-built loadable modules for
 Linux kernel 2.6.32 on the Goldelico GTA04 as shipped by Qtmoko distribution
 (which is a Debian derivative with manually added  Qt Extended). The kernel
 is based upon hw_validation branch at https://github.com/goldelico/gta04-kernel.git

